In [21]:
import pandas as pd
from datetime import datetime

# URLs of the CSV files on GitHub
url1 = 'https://raw.githubusercontent.com/Mahesha90/HomeTask_Mahesha/main/data_2023-02-11.csv'
url2 = 'https://raw.githubusercontent.com/Mahesha90/HomeTask_Mahesha/main/data_2023-02-12.csv'

# Read data from CSV files hosted on GitHub
df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)

In [29]:
df1.head()

  company;metric_id;metric_desc;metric_value;metric_date
0         i-bank;1;active contracts;10000;2023-02-11
1         i-bank;2;active customers;50000;2023-02-11
2            i-bank;3;employees count;100;2023-02-11
3           i-bank;4;active partners;1000;2023-02-11
4              i-bank;5;unique products;5;2023-02-11

In [30]:
df2.head()

  company;metric_id;metric_desc;metric_value;metric_date
0         i-bank;1;active contracts;12000;2023-02-12
1         i-bank;2;active customers;50500;2023-02-12
2            i-bank;3;employees count;101;2023-02-12
3           i-bank;4;active partners;1005;2023-02-12
4              i-bank;5;unique products;5;2023-02-12

In [31]:
#Answer to the question

import os
import pandas as pd

# Read data from the URLs
data1_url = "https://raw.githubusercontent.com/Mahesha90/HomeTask_Mahesha/main/data_2023-02-11.csv"
data2_url = "https://raw.githubusercontent.com/Mahesha90/HomeTask_Mahesha/main/data_2023-02-12.csv"

# Read datasets
data1 = pd.read_csv(data1_url, delimiter=';')
data2 = pd.read_csv(data2_url, delimiter=';')

# Concatenate datasets
combined_data = pd.concat([data1, data2])

# Group by 'company', 'metric_id', and 'metric_desc' and aggregate 'metric_value'
aggregated_data = combined_data.groupby(['company', 'metric_id', 'metric_desc'], as_index=False)['metric_value'].sum()

# Calculate 'metric_date_start' as the minimum metric date for each group
aggregated_data['metric_date_start'] = combined_data.groupby(['company', 'metric_id', 'metric_desc'])['metric_date'].min().reset_index(drop=True)

# Calculate 'metric_date_end' as the maximum metric date for each group
aggregated_data['metric_date_end'] = combined_data.groupby(['company', 'metric_id', 'metric_desc'])['metric_date'].max().reset_index(drop=True)

# Calculate 'file_generation_date' as the next date after 'metric_date_end'
data2_dates = pd.to_datetime(data2['metric_date'])
next_date = data2_dates + pd.DateOffset(days=1)
aggregated_data['file_generation_date'] = next_date.dt.strftime('%Y-%m-%d')

# Specify the directory path where you want to save the file. Replace 'YourUsername' with your actual username
output_directory = r'C:\Users\mahes\Desktop' 

# Ensure the directory exists, if not create it
if not os.path.exists(output_directory):
    os.makedirs(output_directory)

# Specify the path where you want to save the file
output_file_path = os.path.join(output_directory, 'combined_data.csv')

# Save the DataFrame to a CSV file at the specified path
aggregated_data.to_csv(output_file_path, index=False)

print("CSV file saved successfully to:", output_file_path)
# Display the final combined dataset
print(aggregated_data)

CSV file saved successfully to: C:\Users\mahes\Desktop\combined_data.csv
  company  metric_id       metric_desc  metric_value metric_date_start metric_date_end file_generation_date
0  i-bank          1  active contracts         22000        2023-02-11      2023-02-12           2023-02-13
1  i-bank          2  active customers        100500        2023-02-11      2023-02-12           2023-02-13
2  i-bank          3   employees count           201        2023-02-11      2023-02-12           2023-02-13
3  i-bank          4   active partners          2005        2023-02-11      2023-02-12           2023-02-13
4  i-bank          5   unique products            10        2023-02-11      2023-02-12           2023-02-13